<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="ChapooDatabase" connectionString="Data source=den1.mssql8.gear.host; Initial Catalog=dbchapoo02; User=dbchapoo02; Password=Zu8F?2S0wX-P" />
    </connectionStrings>
</configuration>